*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#263457 ;
}
.container{
  position: relative;
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 10px 20px 20px;
  border-radius: 8px;
  -webkit-box-shadow:  9px 10px 10px rgba(0,0,0,.2);
}
.display{
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 25px;
  outline: none;
  border: none;
  text-align: right;
  color: black;
  pointer-events: none;
}
.buttons{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button{
  padding: 12px 10px;
  cursor: pointer;
  border:none;
  border-radius: 6px;
  background-color: #eee;
  font-size: 20px;
  transition:.3s ease all;
}
.buttons button:active{
  transform: scale(0.99);
}
.operator{
  color: lightblue;
}